<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="Academy.E2EProject.Listeners"/>
</listeners>
  
  <test name="Login test">
    <classes>
      <class name="Academy.E2EProject.HomePage"/>
     </classes>
      </test>
      
      <test name="validating nav bar">
    <classes>
      <class name="Academy.E2EProject.ValidateNavBar"/>
     </classes>
      </test>
      
      <test name="App Test">
    <classes>
      <class name="Academy.E2EProject.AppTest"/>
     </classes>
      </test>
      
      <test name="Validating title">
    <classes>
       <class name="Academy.E2EProject.ValidateTitle"/>
     </classes>
      </test>
      
      
     
    
  
</suite> <!-- Suite -->
